body {
    font-family: 'Major Mono Display', monospace;
    /* font-family: 'Roboto Mono', monospace;   */
    background-image: linear-gradient(to bottom right, #000000bb, #000000bb), url('./alex-perez-AIfbUyzhKz0-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    color: white;
}

section {
    margin: 50px;
}

.countdown {
    /* background: red; */
    display: flex;
}

.countdown-box {
    /* background: blue; */
    min-width: 100px;
    text-align: center;
    position: relative;
}

.countdow-divider {
    width: 50px;
    position: relative;
    font-size: 85px;
    /* background: yellow; */
    text-align: center;
}

.countdow-divider::before {
    content: ":";
}

.countdown-track {
    font-size: 85px;
    min-width: 100px;
    height: 100px;
    /* background: green; */
    overflow: hidden;
    text-align: center;
}

.countdown-number {
    display: flex;
    flex-direction: column-reverse;
    top: 0px;
    transform: translateY(0px);
}

.countdown-number.animate {
    transform: translateY(-100px);
    transition: transform .9s ease-out;
    /* transition: transform .95s linear; */
}

.countdown__regressive .countdown-number {
    flex-direction: column;
    transform: translateY(-100px);
}

.countdown__regressive .countdown-number.animate {
    transform: translateY(0px);
}

.countdown-number span:first-child {
    min-width: 100px;
    height: 100px;
    /* background: gray; */
}

.countdown-number span:last-child {
    min-width: 100px;
    height: 100px;
    /* background: rgb(212, 33, 33); */
}

.countdown-label {
    font-size: 12px;
}

.countdown.ended {
    transition: color .95s ease-out;
    color: red;
}
