body {
    font-family: 'Major Mono Display', monospace;
    /* font-family: 'Roboto Mono', monospace;   */
    background-image: linear-gradient(to bottom right, #00000099, #00000099), url('../assets/brooke-campbell-Rw2-Y0nSIKQ-unsplash.jpg');
    background-size: cover;
    background-position: top center;
    color: white;
}

section {
    margin: 50px;
}

.timeline {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.timeline-track {
    /* background: red; */
    background-color: #424242;
    width: 100%;
    position: relative;
    height: 20px;

    /* overflow: hidden; */
}

.timeline-bar {
    transition: width 5s ease-out;
    background: rgb(2, 128, 0);
    width: 0%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(4, 223, 0, 0.2), 0 6px 20px 0 rgba(4, 223, 0, 0.19);
}

.timeline-bar.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    animation: animate-stripes 2s linear infinite;
}

.ended .timeline-bar.stripes {
    background: rgb(60, 0, 128);
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    box-shadow: 0 4px 8px 0 rgba(132, 0, 255, 0.2), 0 6px 20px 0 rgba(132, 0, 255, 0.19);
    animation: animate-stripes .8s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

.timeline-start {
    position: absolute;
    left: 0;
    margin-top: 10px;
    font-size: 12px;
}

.timeline-end {
    position: absolute;
    right: 0;
    margin-top: 10px;
    font-size: 12px;
}


.tooltip {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    font-size: 12px;
}

.tooltip .left {
    text-align: right;
    transition: all 2s ease-out;
    flex-basis: 0;
    flex-grow: 0;
}

.tooltip .right {
    text-align: left;
    border-left: 1px solid #fff;
    flex-basis: 100%;
    flex-grow: 100;
    /* transition: all 5s ease-out; */
    /* flex-basis: 100; */
}

.timeline-days {
    font-size: 20px;
    line-height: 5px;
    white-space: nowrap;
}

.tooltip .left .timeline-percent,
.tooltip .left .timeline-days,
.tooltip .left span {
    margin-right: 10px;
}

.tooltip .right .timeline-percent,
.tooltip .right .timeline-days,
.tooltip .right span {
    margin-left: 10px;
}