* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Major Mono Display', monospace;
    overflow-x: hidden;
}

a {
    color: aqua;   
}

section {
    padding: 40px 0px;
    display: flex;
    justify-content: center;   
}

.container-center {
    padding: 0 15px;
    width: 100%;
}

footer {
    background: black;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: .75em;
}

h1 {
    margin-bottom: 30px;
}

blockquote {
    text-transform: lowercase;
    position: relative;
    padding: 30px 36px;
    line-height: 1.4em;
    font-size: .75em;
}

blockquote::before {
    content: '"';
    font-size: 3em;
    position: absolute;
    left: 0;
    top: .8em;
}

cite {
    opacity: .8;
}

/**
* Countdown
*/

#countdown-section {
    
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.countdown-box {
    text-align: center;
    position: relative;
}

.countdow-divider {
    position: relative;
    text-align: center;
}

.countdow-divider::before {
    content: ":";
}

.countdown-label {
    font-size: .75em;
    margin-top: .5em;
}

.countdown-track {
    height: 1em;
    overflow: hidden;
    text-align: center;
}

.countdow-divider, .countdown-track {
    font-size: 4em;
}

.countdown-number {
    display: flex;
    flex-direction: column-reverse;
    top: 0px;
    transform: translateY(0px);
}

.countdown-number.animate {
    transform: translateY(-100px);
    transition: transform .9s ease-out;
}

.countdown__regressive .countdown-number {
    flex-direction: column;
    transform: translateY(-100px);
}

.countdown__regressive .countdown-number.animate {
    transform: translateY(0px);
}

.countdown-number span:first-child {
    min-width: 100px;
    height: 100px;
}

.countdown-number span:last-child {
    min-width: 100px;
    height: 100px;
}

.countdown.ended {
    transition: color .95s ease-out;
    color: red;
}


/**
* Timeline
*/

.timeline {
    position: relative;
    width: 100%;
}

.timeline-track {
    background-color: #dadada;
    width: 100%;
    position: relative;
    height: 1.3em;
}

.timeline-bar {
    transition: width 5s ease-out;
    background: rgb(2, 128, 0);
    width: 0%;
    height: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
}

.timeline-bar.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    animation: animate-stripes 2s linear infinite;
}

.ended .timeline-bar.stripes {
    background: rgb(60, 0, 128);
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    animation: animate-stripes .8s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

.timeline .timeline-hint {
    display: flex;
    justify-content: space-between;
    margin-top: .3em;
}

.timeline .timeline-start, .timeline .timeline-end {
    font-size: .75em;
}

.timeline .tooltip {
    width: 100%;
    position: relative;
    display: flex;
    font-size: .65em;
    padding-bottom: 1em;
}

.timeline .tooltip .left {
    text-align: right;
    transition: all 2s ease-out;
    flex-basis: 0;
    flex-grow: 0;
}

.timeline .tooltip .right {
    text-align: left;
    border-left: 1px solid rgb(139, 139, 139);
    flex-basis: 100%;
    flex-grow: 100;
}

.timeline .timeline-days {
    font-size: 1.3em;
    white-space: nowrap;
}

.timeline .tooltip .left .timeline-percent,
.timeline .tooltip .left .timeline-days,
.timeline .tooltip .left span {
    margin-right: 10px;
}

.timeline .tooltip .right .timeline-percent,
.timeline .tooltip .right .timeline-days,
.timeline .tooltip .right span {
    margin-left: 10px;
}



/**
* Pixel Grid
*/

#pixelgrid-section {
 
}

.pixel-grid {
    position: relative;
    width: 100%;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #dadada;
    border: 1px solid white;
}

.pixel.active {
    background: rgb(5, 243, 0);
}

.pixel.today {
    opacity: .8;
    background: rgb(166, 11, 197);
    animation: blink 2s infinite ease-in;
}

@keyframes blink {
    0%   { background: rgb(91, 4, 109); }
    30% { background: rgb(166, 11, 197); }
    100% { background: rgb(91, 4, 109); }
}

.pixel.today::before {
    content: 'você já está aqui e não pode desistir!';
    color: white;
    background: inherit;
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100px;
    z-index: 1;
    font-size: .75em;
    padding: 10px;
}

.ended .pixel.today::before {
    content: 'você conseguiu!';
}

.pixel.today::after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: inherit;
    transform: rotate(-45deg);
}

.pixel-grid .timeline-start {
    font-size: .75em;
    text-align: left;
    position: relative;
    left: 0;
}

.pixel-grid .timeline-end {
    font-size: .75em;
    position: absolute;
    right: 0;
    text-align: right;
}


/**
* Statistics
*/

#statistics-section {
    background: black;
    color: white;
}

pre {
    font-size: .85em;
}


/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)
 Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) {

    .countdown {
        flex-direction: row;
    }

    .countdow-divider, .countdown-track {
        font-size: 3em;
    }

    blockquote {
        font-size: .75em;
        padding: 50px 60px;
    }

    blockquote::before {
        font-size: 5em;
    }

    .timeline .timeline-days {
        font-size: 1.7em;
    }
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) { 
    .countdow-divider, .countdown-track {
        font-size: 4em;
    }
 }

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {
    .container-center {
        max-width: 992px;
    }

    .countdow-divider, .countdown-track {
        font-size: 5em;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .countdow-divider, .countdown-track {
        font-size: 6em;
    }
}