/*
    TODO renomear para progressbar
*/


/**
* ProgressBar
*/

.progressBar {
    position: relative;
    width: 100%;
}

.progressBar-track {
    background-color: #dadada;
    width: 100%;
    position: relative;
    height: 1.3em;
}

.progressBar-bar {
    transition: width 5s ease-out;
    background: #4CB33D;
    width: 0%;
    height: 1.3em;
    position: absolute;
    top: 0;
    left: 0;
}

.progressBar-bar.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    animation: animate-stripes 2s linear infinite;
}

.ended .progressBar-bar.stripes {
    background: rgb(166, 11, 197);
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
    animation: animate-stripes .8s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

.progressBar .progressBar-hint {
    display: flex;
    justify-content: space-between;
    margin-top: .3em;
}

.progressBar .progressBar-start, .progressBar .progressBar-end {
    font-size: .75em;
}

.progressBar .tooltip {
    width: 100%;
    position: relative;
    display: flex;
    font-size: .65em;
    padding-bottom: 1em;
}

.progressBar .tooltip .left {
    text-align: right;
    transition: all 2s ease-out;
    flex-basis: 0;
    flex-grow: 0;
}

.progressBar .tooltip .right {
    text-align: left;
    border-left: 1px solid rgb(139, 139, 139);
    flex-basis: 100%;
    flex-grow: 100;
}

.progressBar .progressBar-days {
    font-size: 1.3em;
    white-space: nowrap;
}

.progressBar .tooltip .left .progressBar-percent,
.progressBar .tooltip .left .progressBar-days,
.progressBar .tooltip .left span {
    margin-right: 10px;
}

.progressBar .tooltip .right .progressBar-percent,
.progressBar .tooltip .right .progressBar-days,
.progressBar .tooltip .right span {
    margin-left: 10px;
}


/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)
 Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) {

    .progressBar .progressBar-days {
        font-size: 1.7em;
    }
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) { 

 }

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {

}